.vite-ssg-temp

node_modules
.DS_Store

dist
dist-ssr

*.log
*.local
pnpm-lock.yaml


docs/.vitepress/cache
docs/.vitepress/dist


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo


# Private files
privacy-*.json


auto-import-components.d.ts
auto-import-eslintrc.json
auto-import.d.ts