@use '../../../theme/index.scss' as *;

@include b(context-menu) {
  position: fixed;
  max-width: 180px;
  z-index: 9999;
  user-select: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow:
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  color: #333;

  @include e(list) {
    margin: 0;
    padding: 0;
  }
}

@include b(context-menu-item) {
  padding: 6px 16px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: all 0.2s;
  color: #606266;

  &:hover {
    background-color: #f0f5ff;
    color: #1890ff;
  }

  @include m(disabled) {
    color: #adb0b7 !important;
    cursor: not-allowed;

    &:hover {
      background-color: #fff;
      cursor: not-allowed;
    }
  }

  @include m(divided) {
    border-top: 1px solid #ebeef5;
  }

  @include e(icon) {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #606266;
  }

  @include e(name) {
    display: inline-block;
    vertical-align: middle;
  }
}
